body {
  background-color: #79c288;
}
.form {
  width: 520px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 32px;
  color: rgb(34, 34, 34);
}

.form-group {
  margin: 20px;
}

.form-group-label {
  font-size: 1em;
  color: rgb(34, 34, 34);
  display: inline-block;
}

.form-group {
  display: block;
  width: 100%;
  color: rgb(34, 34, 34);
}

.button-right button {
  clear: both;
  float: right;
  margin-right: 20px;
}
